name: Get Jackets
permissions:
  contents: write
  pull-requests: write
on:
  workflow_dispatch:
  schedule:
    - cron: '15 1 * * 0' # once a week 1:15 AM on Sundays GMT
jobs:
  get-jackets:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: UV
        uses: astral-sh/setup-uv@v6.0.1
      - name: run jacket script
        working-directory: utils
        run: ./download_assets.py
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
